{% extends "checkout.html" %}

{% block instructions %}
<h1>Ballot spoiled</h1>
<p>You have spoiled your ballot, which means it will not be included in the final tally.</p>
<p>Below is your verification code which you can use to confirm that the ballot was spoiled when the election results are published.</p>
<p>Make sure to keep your verification code in a safe location to protect your anonymity and so that you can confirm your ballot was spoiled.</p>
<p>To cast another ballot, return to the registrar to acquire a new token and return to the ballotbox</p>
{% endblock %}